<!DOCTYPE html>
<html>
<head>
  <title>SignMeUp by LogMeIn</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/united/bootstrap.min.css">
  <link rel="stylesheet" href="./css/app.css">
</head>

<body>
  <div class="container">
{{{body}}}
</div>

{{>common_scripts}}
</body>

</html>
