<!DOCTYPE html>
<html ng-app="signmeup">
<head>
  <title>SignMeUp</title>
  <link rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./vendor/allmighty-autocomplete/style/autocomplete.css">
  <link rel="stylesheet" href="./css/app.css">
</head>

<body>
  <div class="container">
{{{body}}}
</div>
{{>common_scripts}}
</body>

</html>
